@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;




// Codigo custom

@import "scss/kernspaltung-style_utils/style_utils";
@import "bower_components/font-awesome/scss/font-awesome";

//
// *{outline: 1px solid black}

body,h1,h2,h3,h4{

  font-family:"Open sans"

}

h3{font-weight: bold;

  text-transform: uppercase;

}


//Colores
$white: #ffffff;
$black: #333333;
$red: #fa1730;

//Background

.color-negro-bg {

background-color:$black;

}

.color-rojo-bg{

background-color:$red;

}

//Título Master
.titulo-master{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 35px;
  color:$white;
}

.titulo-master-2{
  text-transform: uppercase;
  font-size: 15px;
  color:$white;
}


// Text -------------------------------->

.nav-white{
color:$white;
text-transform: uppercase;
font-weight: bold;
font-size: 14px;
}

.white{
color:$white;
}

.black-link{
  color:$black;
  font-style: italic;
  font-size: 13px;
}

//Título de categorías
.red-link-c{
  color:$red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.black-link-c{
  color:$black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.text-bold{
color:$black;
font-weight: bold;
}

//Contenido

.titulo-categoria{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color:$red;
}

#circle li {list-style-type: disc;}
#disc li {list-style-type: circle;}

.color-rojo-bd {
  border: 2px solid $red;
  margin-top: 10px;
  margin-bottom: 10px;
  }
